@media (max-width: 1440px) {
    .menu {
        padding: 0 250px;
    }
}

@media (max-width: 1200px) {
    nav {
        left: 40%;
    }
    .menu {
        padding: 0 180px;
    }
}

@media (max-width: 992px) {
    .menu {
        padding: 0 50px;
    }
    .logo {
        display: none;
    }
}

@media (max-width: 768px) {
    nav {
        position: unset;
        transform: unset;
        height: 40px;
        background-color: #141313
    }
    .menu {
        position: fixed;
        top: 0;
        left: -100%;
        padding: 20px 15px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,.9);
        width: 50%;
        height: 100vh;
        transition: .6s all;
        &__link {
            font-size: 20px;
        }
        & > li {
            margin-top: 30px;
        }
        &__active {
            left: 0%;
        }
    }
    .hamburger {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 26px;
        height: 12px;
        & > span {
            display: block;
            width: 100%;
            height: 2px;
            margin-bottom: 2px;
            background-color: #fff;
        }
    }
}

@media (max-width: 576px) {
    .menu {
        width: 80%;
        z-index: 10;
    }
}