@media (max-width: 1440px) and (min-width: 769px) {
    .partners {
        &__item {
            &:nth-child(4n+4) {
                border-right: none;
            }
            &:nth-child(n+5) {
                border-bottom: none;
            }
        }
    }
}

@media (max-width: 1200px) {
  
}

@media (max-width: 992px) {
   .partners {
    margin-top: 100px;
   }
}

@media (max-width: 768px) {
    .partners {
        &__top {
            justify-content: center;
        }
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
        }
        &__item {
            &:nth-child(2n) {
                border-right: none;
            }
            &:nth-child(n+7) {
                border-bottom: none;
            }
        }
    }
}

@media (max-width: 576px) {
    .partners {
        margin-top: 80px;
    }
}