.start {
    margin-top: 200px;
    &__top {
        display: flex;
        align-items: center;
        > img {
            transform: rotate(180deg);
            margin-right: 20px;
        }
    }
    &__descr {
        margin-top: 20px;
        width: 411px;
    }
    &__wrapper {
        margin-top: 80px;
        display: flex;
    }
    &__item {
        position: relative;
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 70px;
            width: 100.5%;
            height: 80px;
            background: var(--main-color1);
        }
        &_2 {
            &::after {
                top: 80px;
                height: 60px;
                transform: matrix(-1, 0, 0, 1, 0, 0);
            }
        }
        &_3 {
            &::after {
                top: 95px;
                height: 30px;
            }
        }
        &_4 {
            &::after {
                top: 105px;
                height: 10px;
                transform: matrix(-1, 0, 0, 1, 0, 0);
            }
        }
    }
    &__text {
        margin-top: 150px;
        margin-right: 18px;
    }
}