@media (max-width: 1440px) {
    
}

@media (max-width: 1200px) {
  
}

@media (max-width: 992px) {
    .tutors {
        margin-top: 100px;
    }
}

@media (max-width: 768px) {
    .tutors {
        &__top {
            justify-content: center;
        }
        &__wrapper {
            margin-top: 0;
            flex-direction: column;
        }
        &__bio-copy {
            display: block;
            position: relative;
            right: -150%;
            transition: .6s all;
            &__active {
                right: 0;
            }
        }
    }
}


@media (max-width: 576px) {
   .tutors {
    margin-top: 80px;
   }
}