.tutors {
    margin-top: 200px;
    &__top {
        display: flex;
        align-items: center;
        gap: 20px;
        img {
            transform: rotate(135deg);
        }
    }
    &__wrapper {
        margin-top: 113px;
        display: flex;
        justify-content: space-around;
        gap: 24px;
    }
    &__item {
        text-align: center;
        .subtitle {
            margin-top: 40px;
        }
        .text {
            margin-top: 15px;
        }
        button {
            margin-top: 30px;
        }
        &:hover img {
            scale: 1.1;
            transition: all .6s;
        }
    }
    &__bio {
        display: none;
        margin-top: 50px;
        border: 1px solid white;
        border-radius: 20px;
        padding: 20px;
    }
    &__small {
        opacity: 0.4 !important; 
        transform-origin: 12cm;
    }
      
      @keyframes flowToCenter {
        100% {
            transform: translateX(var(--center-position));
        }
      }

      @keyframes flowToSide {
        100% {
            transform: translateX(var(--initial-position));
        }
      }

      @keyframes getSmaller {
        100% {
            opacity: 0.6;
            transform: scale(0.7);
        }
      }

      @keyframes getBigger {
        100% {
            opacity: 1;
            transform: scale(1);
        }
      }
}

:root {
        --initial-position: 0px;
        --center-position: 0px;
      }