@keyframes toCenterForward {
    0% {
        transform: translateX(var(--side));
    }

    100% {
        transform: translateX(var(--distance));
    }
}

@keyframes toSideForward {
    0% {
        transform: translateX(var(--center));
    }

    100% {
        transform: translateX(var(--distanceNeg));
    }
}

@keyframes toCenterBack {
    0% {
        transform: translateX(var(--distanceNeg));
    }

    100% {
        transform: translateX(var(--center));
    }
}

@keyframes toSideBack {
    0% {
        transform: translateX(var(--distance));
    }

    100% {
        transform: translateX(var(--side));
    }
}

@keyframes getSmaller {
    100% {
        opacity: 0.6;
        transform: scale(0.7);
    }
}

@keyframes getBigger {
    0% {
        opacity: 0.6;
        transform: scale(0.7);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes getSmallerMobile {
    100% {
        opacity: 0.6;
        transform: scale(0.6);
    }
}

@keyframes getBiggerMobile {
    0% {
        opacity: 0.6;
        transform: scale(0.6);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}