.button {
    width: 169px;
    height: 44px;
    background: var(--main-gradient);
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    border: none;
    &:hover {
        filter: brightness(1.15);
    }
    &-login {
        position: absolute;
        top: 38px;
        right: 80px;
        width: 183px;
        background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    }
}