.text {        
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.4;
    &_fz16 {
        font-size: 16px;
    }
    &_fz14 {
        font-size: 14px;
    }
    &_white {
        font-weight: 400;
        opacity: unset;
    }
}