@media (max-width: 1440px) {
    .title {
        &_fz64 {
            font-size: 60px;
        }
    }
}

@media (max-width: 1200px) {
    .title {
        &_fz64 {
            font-size: 48px;
        }
    }
}

@media (max-width: 992px) {
   
}

@media (max-width: 768px) {
    .title {
        &_fz64 {
            font-size: 40px;
        }
    }
}

@media (max-width: 576px) {
    .title {
        &_fz64 {
            font-size: 32px;
        }
    }
}