.about {
  margin-top: 200px;
  &__wrapper {
    display: flex;
    gap: 135px;
  }
  &__item {
    position: relative;
    & > .title {
      margin-top: 70px;
    }
    & > .text {
      margin-top: 45px;
    }
  }
  &__square {
    display: block;
    width: 531px;
    height: 499px;
    background: var(--main-color1);
    padding: 30px 35px;
    &-bcg {
      display: block;
      height: 100%;
      background: url("images/bgc.jpg") center center/cover no-repeat;
    }
  }
  &__img {
    position: absolute;
    top: 96px;
    left: 45px;
  }
}
