.form {
    position: relative;
    width: 492px;
    margin: 60px auto;

    form {
        display: flex;
    }

    label {
        display: none;
    }

    &-input {
        padding: 0 35px 0 20px;
        width: 353px;
        height: 44px;
        background-color: rgba($color: #fff, $alpha: 0.25);
        border-radius: 50px 50px 50px 50px;
        border: none;
        color: #fff;

        &::placeholder {
            color: white;
        }
    }

}