header {
    position: relative;
    z-index: 10;
}

nav {
    position: absolute;
    height: 24px;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
}

.menu {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
    list-style: none;
    padding: 0 280px;
    &__link {
        font-weight: 400;
        &:hover {
            color: #919090;
            text-decoration: none;
        }
    }
}

.logo {
    position: absolute;
    top: 40px;
    left: 80px;
    &:hover {
        filter: brightness(1.15);
    }
}

.hamburger {
    display: none;
}
