@media (max-width: 1440px) {
    
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    .popup {
        &-wrapper {
            width: 450px;
            height: 280px;
        }
    }

}

@media (max-width: 768px) {
    .popup {
        &-wrapper {
            width: 380px;
        }
    }
}

@media (max-width: 576px) {
    .popup {
        &-wrapper {
            margin: auto auto;
            padding: 10px;
            width: 80%;
        }
    }
    .form {
        &-input {
            width: 90%;
        }
      }
}