.partners {
    margin-top: 200px;
    &__top {
        display: flex;
        align-items: center;
    }
    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 9% 20%;
        &:nth-child(-n+4) {
            border-bottom: 1px solid rgba($color: white, $alpha: 0.3);
        }
        &:not(:nth-child(4)):not(:nth-child(8)){
            border-right: 1px solid rgba($color: white, $alpha: 0.3);
        }
        img {
            cursor: pointer;
            width: 100%;
            &:hover {
                scale: 1.2;
                transition: all .6s;
            }
        }
    }
}