@media (max-width: 1440px) {
    
}

@media (max-width: 1200px) {
  
}

@media (max-width: 992px) {
    .tutors {
        margin-top: 100px;
    }
}

@media (max-width: 768px) {
    .tutors {
        &__top {
            justify-content: center;
        }
        &__wrapper {
            margin-top: 0;
            flex-direction: column;
        }
        &__bio-copy {
            margin-top: 0;
            margin-bottom: 0;
            padding: 0px;
            max-height: 0px;
            overflow: hidden;
            display: block;
            position: relative;
            transition: 0.6s all;
            border: 0.1px;
            &__active {
                padding: 20px;
                margin-top: 2rem;
                margin-bottom: 1rem;
                right: 0;
                border: 1px solid #fff;
                max-height: 300px;
            }
        }
    }
}


@media (max-width: 576px) {
   .tutors {
    margin-top: 80px;
   }
}